#menu__tree {
	position:absolute;
	top:0;
	left:-999em;
}
.YS__menu__tree {
	position:fixed;
	top:0;
	right:0;
	width:350px;
	height:100%;
	background:#fafafa;
	@include transform(translateX(101%));
	@include transition(all 0.595s cubic-bezier(.645,.045,.355,1));
	@include unselectable();
	z-index:1002;
}
.d-mobile .YS__menu__tree {
	@include transition(all 0.45s cubic-bezier(.215,.61,.355,1));
}
.YS__menu__tree__container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	@include transition(all 0.595s cubic-bezier(.215,.61,.355,1));
}
.d-mobile .YS__menu__tree__container {
	@include transition(all 0.45s cubic-bezier(.215,.61,.355,1));
}
.YS__menu__tree--active {
	@include transform(translateX(0));
}
.YS__menu__level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fafafa;
	@include transform(translateX(100%));
	@include transition(all 0.595s cubic-bezier(.215,.61,.355,1));
}
.d-no-mobile .YS__menu__level {
	@include transform(translateX(120%));
}
.d-no-mobile .YS__menu__level[data-level="4"] {
	z-index:1;
}
.YS__menu__level::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	background: rgba(52, 52, 58, 0.6);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	z-index: -1;	
}
.YS__menu__level--overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	@include transition(opacity 0.3s);
}
.YS__menu__level--overlay {
	cursor: pointer;
}
.YS__menu__level--open {
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.1);
	@include transform(translateX(0));
}
.YS__menu__level.YS__menu__parent {
	@include transform(translateX(0));
}
.d-no-mobile .YS__menu__level .YS__scroller {
	height:calc(100% - 200px);
}
.d-no-mobile .YS__menu__parent .YS__scroller {
	height:calc(100% - 152px);
}
.YS__menu__tree ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.YS__menu__parent__category {
	position:relative;
	height:75px;
	font-size:0;
	z-index:-1;
	text-align:right;
	background:#fff;
}
.YS__menu__parent__category:after {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:1px;
	background:linear-gradient(to left, #f7f7f7, transparent) repeat;
}
.YS__menu__parent__category__item {
	display:inline-block;
	width:22%;
	height:73px;
	padding:20px 22px;
	white-space:nowrap;
	color:#cdcdcd;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.YS__menu__parent__category__item span {
	font:31px/30px $museo;
}
.YS__menu__parent__category__item em {
	display:none;
	font:16px/16px $arial;
	font-style:normal;
	text-transform:uppercase;	
}
.YS__menu__parent__category__item--active {
	position:absolute;
	top:0;
	left:0;
	width:54%;
	color:#fff !important;
	padding:24px 0 0 32px;
	cursor:default;
	text-align:left;
	letter-spacing:0.7px;
	transition:width 0.75s cubic-bezier(.215,.61,.355,1);
}
.YS__menu__parent__category__item--active#for_woman {
	background:rgba(#ff9dbe,.65);
}
.YS__menu__parent__category__item#for_woman:hover {
	color:#ff9dbe;
}
.YS__menu__parent__category__item--active#for_man {
	background:rgba(#9dd6ff,.65);
}
.YS__menu__parent__category__item#for_man:hover {
	color:#9dd6ff;
}
.YS__menu__parent__category__item--active#for_child {
	background:rgba(#ffc19d,.65);
}
.YS__menu__parent__category__item#for_child:hover {
	color:#ffc19d;
}
.YS__menu__parent__category__item--active span {
	font-size:25px;
	line-height:24px;
	font-family:$museo;
	font-weight:bold;
}
.YS__menu__parent__category__item--active em {
	display:inline-block;
}
.YS__menu__parent__category__divider {
	position:absolute;
	top:10px;
	right:22%;
	width:1px;
	height:48px;
	background:#e7e7e7;
}
.YS__menu__tree__title {
	margin: 0;
	padding:1.1em 1em 1em 1.5em;
	color: #7b7b7b;
	font-size: 22px;
	text-transform:uppercase;
	background:rgba(255,255,255,.95);
	position:relative;
	z-index:-1;
}
.YS__menu__tree a {
	position:relative;
	display: block;
	padding: 0.7em 1em 0.7em 1.8em;
	outline: none;
	box-shadow: inset 0 -1px rgba(27,27,31,0.024);
	color:rgba(0, 0, 0, 0.87);
	font-size:18.5px;
	letter-spacing:0.1px;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}
.YS__menu__parent a {
	font-family:$museo;
	letter-spacing:0px;
}
.YS__menu__level a:hover {
	color:rgba(0, 0, 0, 0.95);
	background: rgba(16, 11, 29, 0.022);
}
.YS__menu__opener:after {
	content: "\f107";
	position:absolute;
	top:6px;
	right:25px;
	font-size:28px;
	color:rgba(16, 11, 29, 0.5);
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.YS__menu__back {
	background: rgba(16, 11, 29, 0.4);
	outline: none;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: block;
	font-size: 0.8em;
	padding: 1em 1em 1em 1.5em;
	position: relative;
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
	@include transition(background 0.3s);
	cursor:pointer;
	z-index:-2;
}
.YS__menu__back:hover {
	background: rgba(16, 11, 29, 0.5);
}
.YS__menu__level--overlay > .YS__menu__back {
	background: transparent;
	box-shadow: none;
	color: transparent;
}