.YS__panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-left:6%;
	font-family:$lato;
	background: rgba(25,26,27,.95);
	@include transform(translateY(0));
	@include unselectable();
	z-index:1010;
	-webkit-transition:-webkit-transform 0.5s cubic-bezier(.215,.61,.355,1);
	transition:transform 0.5s cubic-bezier(.215,.61,.355,1);
	@media screen and (max-width: 1280px) {
		padding-left:5%;
	}
	@media screen and (min-width: 1600px) {
		padding-left:8%;
	}
	@media screen and (min-width: 1900px) {
		padding-left:10%;
	}	
}
.YS__panel:after {
	background: rgba(0,0,0,.4);
    transition: opacity 0.6s cubic-bezier(.645,.045,.355,1) 0s, width 0s 0.6s, height 0s 0.6s;
	content: "";
    height: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
}
.YS__panel--active:after {
	height: 100%;
	opacity: 1;
	transition: opacity 0.65s cubic-bezier(.645,.045,.355,1) 0s;
	width: 100%;
}
.d-mobile .YS__panel,
.d-mobile .YS__panel:after {
	@include transition(none);
}
.YS__panel__container {
	display:table;
	width:100%;
}
.YS__panel__filter {
	position:relative;
	display: table-cell;
	vertical-align:middle;
	padding: 22px 0 14px;
	width:100%;
}
.YS__panel__filter__container {
	display:inline-block;
	padding:0;
	margin:0;
	vertical-align:top;
	white-space:nowrap;
	font-size:0;
}
.YS__panel__filter__label {
	display:table-cell;
	font-size:15.2px;
	font-family:$museo;
	font-weight: bold;
	color: #a3a3b3;
	padding:27px 22px 0 0;
	text-align:right;
}
.YS__panel__menu--compact-md .YS__panel__filter__label {
	display:inline-block;
	width:0;
	height:0;
	padding:0;
	opacity:0;
	overflow:hidden;
}
.YS__panel__filter--active {
	z-index:1;
}
.YS__panel__divider {
	border-right:1px solid rgba(255,255,255,.1);
}
.YS__panel__phone {
	position:relative;
	color:#fff;
	font-size:24px;
	display: table-cell;
	vertical-align:middle;
	width:70px;
	padding-top:6px;
	text-align:center;
	cursor:pointer;
	background:rgba(163,163,179,.1);
	transition:all 0.2s cubic-bezier(.215,.61,.355,1);	
}
.YS__panel__phone:hover,
.YS__panel__phone--active {
	background:$green_dark;
}
.YS__panel__phone--active {	
	z-index:1;
}
.YS__panel__phone__icon {
	display:inline-block;
	width:34px;
	height:34px;
	margin:0 17px 0 18px;
	background:url(/images/phone.svg) no-repeat;
	background-size:cover;
	opacity:0.75;
	transition:opacity 0.2s cubic-bezier(.215,.61,.355,1);	
}
.YS__panel__phone:hover .YS__panel__phone__icon,
.YS__panel__phone--active .YS__panel__phone__icon {
	opacity:1;
}
.YS__panel__search {
	position:relative;
	color:#fff;
	font-size:24px;
	display: table-cell;
	vertical-align:middle;
	width:70px;
	padding-top:6px;
	text-align:center;
	cursor:pointer;
	background:rgba(163,163,179,.1);
	transition:all 0.2s cubic-bezier(.215,.61,.355,1);	
}
.YS__panel__search:hover,
.YS__panel__search--active {
	background:$lightBlue;
}
.YS__panel__search--active {	
	z-index:1;
}
.YS__panel__search__icon {
	display:inline-block;
	width:41px;
	height:41px;
	margin:0 14px 0 15px;
	background:url(/images/search.svg) no-repeat;
	background-size:cover;
	opacity:0.75;
	transition:opacity 0.2s cubic-bezier(.215,.61,.355,1);	
}
.YS__panel__search:hover .YS__panel__search__icon,
.YS__panel__search--active .YS__panel__search__icon {
	opacity:1;
}
.YS__panel__menu {
	position:relative;
	color:#ececec;
	font:19px "Open Sans"; 
	display: table-cell;
	vertical-align:middle;
	width:280px;
	text-align:right;
	cursor:pointer;
	white-space:nowrap;
	transition:color 0.2s cubic-bezier(.215,.61,.355,1), background 0.2s cubic-bezier(.215,.61,.355,1);	
}
.YS__panel__menu__container {
	width:280px;
	padding: 0 21px 0 32px;
}
.YS__panel__menu--compact {
	.YS__panel__menu {
		width:75px;
	}
	.YS__panel__menu__container {
		overflow:hidden;
		padding: 0 21px 0 6px;
		width:75px;
		height:32px;
	}
	.YS__panel__menu__icon {
		top:4px;
	}
	.YS__panel__menu__icon__line {
		margin-bottom:5px;
	}	
	.YS__panel__menu__item  {
		display:none;
	}	
}
.YS__panel__menu__item {
	display:inline-block;
	float:left;
	max-width:182px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:-3px;
}
.YS__panel__menu:hover,
.YS__panel__menu--active {
	color:#fff;
	background:$lightBlue;
}
.YS__panel__menu--active {
	z-index:1;
}
.YS__panel__menu__icon {
	position:relative;
	display:inline-block;
	width:31px;
	margin-left:14px;
}
.YS__panel__menu__icon__line {
    background: #fff;
    display: block;
    margin-bottom: 4px;
    position: relative;
    transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	height:2px;
	border-radius:2px;
}
.YS__panel__menu:hover .YS__panel__menu__icon__line_1 {
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px);
}
.YS__panel__menu:hover .YS__panel__menu__icon__line_3 {
	-webkit-transform:translateY(3px);
	transform:translateY(3px);
}
.YS__panel__cart {
	position:relative;
	display:table-cell;
	font-size: 1.5em;
	width:86px;
	min-width:86px;
	max-width:86px;
	cursor: pointer;
	color: #abacae;
	background-color: #131415;
	text-align:center;
	vertical-align:middle;
}
.YS__panel__cart:hover,
.YS__panel__cart--active {
	color:#fff;
}
.YS__panel__cart--active {	
	z-index:1;
}
.YS__panel__cart__count {
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 15px;
	height: 15px;
	margin: -16px 0 0 0;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: $lightBlue;
}
.YS__panel__cart--animate {
	-webkit-animation: YS__countAnim .4s forwards;
	animation: YS__countAnim .4s forwards;
}
@-webkit-keyframes YS__countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@keyframes YS__countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}