.YS__modal__faq__title {
	text-align:center;
	font:31px/34px $openSans;
	margin-bottom:60px;
	letter-spacing:0.4px;
}
.YS__modal__faq__title__desc {
	display:block;
	margin:8px auto 0;
	font:24px/24px $openSans;
}
.YS__modal__faq__item {
	display:inline-block;
	margin-bottom:52px;
	width:50%;
	padding:0 5%;
	vertical-align:top;
}
.YS__modal__faq__item__que {
	color:#fff;
	font:bold 18.5px/25px $museo;
	margin-bottom:5px;
}
.YS__modal__faq__item__text {
	color:#f7f7f7;
	font:18px/25px $openSans;
}