.product__preview__visited {
	position:fixed;
	bottom:0;
	left:0;
	z-index:1003;
	@include transform(translate3d(-40px, 80px, 0));
	@include transition(transform 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95));
}
.d-mobile .product__preview__visited,
.d-mobile .product__preview__visited__item {
	@include transition(none);
}
.product__preview__visited--active {
	@include transform(translate3d(0, 0, 0));
}
.product__preview__visited__item,
.product__preview__visited__item__open {
	display:inline-block;
	position:relative;
	width:102px;
	height:102px;
	border-radius:50%;
	margin:0 -10px -27px;
	box-shadow:0 3px 2px 0 rgba(0, 0, 0, 0.35);
	@include transform(scale(0));
	margin-left:-92px;
	opacity:0.95;
	overflow:hidden;
	cursor:pointer;
	-webkit-transition:-webkit-transform 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);
	transition:transform 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);
}
.product__preview__visited__item__open {
	display:none;
	background:rgba(30,30,30,1);
	color:#ececec;
	font:14.5px/17px $lato;
	text-align:center;
	padding-top:33px;
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.57, 0.06, 0.05, 0.95), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);
	transition:transform 0.25s cubic-bezier(0.57, 0.06, 0.05, 0.95), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);	
}
.product__preview__visited__item__open--active {
	display:inline-block;
}
.product__preview__visited__item__image {
	width:132px;
	margin:0 -12px;
}
.product__preview__visited__item--last {
	@include transform(scale(1));
	margin-left:-10px;
}
.m-no-touch .product__preview__visited--active:hover .product__preview__visited__item,
.product__preview__visited--active:hover .product__preview__visited__item__open {
	@include transform(scale(1));
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(.215,.61,.355,1), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);
	transition:transform 0.25s cubic-bezier(.215,.61,.355,1), margin 0.6s cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 0.25s cubic-bezier(.215,.61,.355,1), color 0.25s cubic-bezier(.215,.61,.355,1);	
	margin-left:-10px;
	opacity:0.8;
}
.product__preview__visited--active:hover .product__preview__visited__item__open {
	opacity:0.9;
	margin-left:-5px;
}
.product__preview__visited__item__open:hover {
	color:#f2f2f2;
}
.product__preview__visited__item__open span {
	font-size:24px;
	position:relative;
	top:-7px;
}
.m-no-touch .product__preview__visited--active .product__preview__visited__item:hover,
.product__preview__visited--active .product__preview__visited__item__open:hover {
	opacity:1;
	@include transform(translateY(-15px));
	z-index:1;
}
.d-mobile .product__preview__visited__item__open {
	display:none;
}