*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-mobile * {
    -webkit-filter: none !important;
	filter: none !important;	
    -ms-touch-action: none !important;	
    -webkit-touch-callout: none !important;	
    -webkit-user-select: none !important;		
}
html,
body { 
	height:100%;
	background:#fff;
	color:#000;
	font:18px/1.34 $openSans;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
}
body { 
	overflow-x:hidden;
	overflow-y:scroll;
}
.d-mobile body {
	overflow:hidden;
}
a {
	text-decoration:none;
}
