$openSans: 'Open Sans', Segoe UI, Arial, Helvetica, sans-serif;
$arial: 'Arial', Helvetica Neue, Helvetica, Arial;
$lato: 'Lato', Helvetica Neue, Helvetica, Arial;
$segoe: 'Segoe UI', Helvetica Neue, Helvetica, Arial;
$museo: 'Museo', Helvetica Neue, Helvetica, Arial;

$nightGreen: #1abc9c;
$nightGreen_dark: #16a085;
$green: #2ecc71;
$green_dark: #27ae60;
$blue: #3498db;
$blue_dark: #2980b9;
$lightBlue: #5c5edc;
$grayBlue: #74a3c7;
$violet: #9b59b6;
$violet_dark: #8e44ad;
$nightBlue: #34495e;
$nightBlue_dark: #2c3e50;
$yellow: #f1c40f;
$yellow_dark: #f39c12;
$orange: #e67e22;
$orange_dark: #d35400;
$red: #e74c3c;
$red_dark: #c0392b;
$brown: #9d8347;
$pink: #e11469;
$ruby: #f55b62;
$gray: #ecf0f1;
$gray_dark: #bdc3c7;
$nightGray: #95a5a6;
$nightGray_dark: #7f8c8d;

$maxMedium: 1024px;
$minMedium: 768px;
$maxSmall: 767px;